<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="format_sql">true</property> -->
		<!-- <property name="show_sql">true</property> -->
		<property name="hibernate.connection.driver_class">
			org.hsqldb.jdbc.JDBCDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:hsqldb:db2;shutdown=true
		</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password" />
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">create-drop</property>
		<property name="hibernate.connection.isolation">2</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">2</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">30</property>
		<!-- <mapping class="hibernate.transaction_concurrency.User" /> -->
		<mapping class="hibernate.transaction_concurrency.Post" />
		<mapping class="hibernate.transaction_concurrency.well.User" />


	</session-factory>
</hibernate-configuration>
